{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

<div class="registr_page">
    {% if validlink %}
    <div class="wrapper_text_change_password">
        <p>Пожалуйста, дважды введите свой новый пароль:</p>
    </div>

    <form action="." method="post">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">сменить</button>
        {% csrf_token %}
    </form>
    {% else %}
        <p>Ссылка на сброс пароля была недействительной, возможно, потому,
             что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
</div> 

{% endblock %}