{% extends 'base.html' %}

{% load static %}

    {% block content %}

    <div class="dostavka_wrapper">
        <h3 class="dostavka_title">Доставка</h3>  
            <div class="dostavka_category">
                <h6>Курьером</h6>
                <p>Доставка производится по г. Грозный. 
                    Доставка за пределы города обговаривается индивидуально. Тел. +7 (916) 375-1535</p>
            </div>    
            <div class="dostavka_category">
                <h6>Boxberry</h5>
                <p>Стоимость доставки зависит от региона доставки. Оплатить и получить товар
                     можно в отделении Boxberry в вашем городе.
                    Сервис «Безопасная сделка», разработанный Boxberry, 
                    объединяет возможность заморозки оплаты, услугу доставки 
                    и выдачу отправления со вскрытием.
                    Оформление безопасной сделки на сайте
                    <a href="http://boxberry.ru/castnym-klientam/dostavka/otpravit_posylku">boxberry</a></p>
            </div>
            <div class="dostavka_category">
                <h6>Почтой России</h6>
                <p>Доставка производится по почте. Стоимоть отправки наложенным платежем составляет 350 руб.</p>
            </div>

                <p>Тел: +7 (916) 375-1535</p>
                <p>Эл. почта: boleev@mail.ru</p>        
                <p>Страница в инстаграмм: <a href="https://www.instagram.com/assalam171_al_afdal/">assalam171_al_afdal</a></p>

        </div>

    {% endblock %}